---
import Layout from '../../layouts/Layout.astro';
const url = import.meta.env.PUBLIC_API_URL;
//console.log("url=", url);
let serverConfig = {url: url};
serverConfig = JSON.stringify(serverConfig);
console.log(serverConfig);
//const count = 1;
---

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
    <div class="index_wrap container">
        <input type="hidden" id="server_config" value={serverConfig}>
        </input>
        <h3>test3</h3>
        <div id="root"></div>
    </div>
</Layout>

<!-- -->
<style>
</style>
<!-- JS -->
<script is:inline data-type="module" src="/js/Test.js"></script>
<script is:inline data-type="module" src="/js/lib/todo/Crud.js"></script>
<script is:inline data-type="module" src="/js/lib/Common.js"></script>
<script is:inline type="text/babel" data-type="module" src="/js/components/Child.js"></script>
<script is:inline type="text/babel" data-type="module">
const prmServer = Common.getServerConfig();
console.log(prmServer);
const useState = React.useState;
const useEffect = React.useEffect;
//
const App = () => {
    const [items, setItems] = useState([])
    //
    useEffect(async() => {
        const testItems = await Crud.getList(prmServer);
        setItems(testItems);
        console.log(testItems);
    }, []);  
    //
    return (
        <div>
            <hr />
            {items.map((item, index) => {
                return (
                <div key={item.id}>ID: {item.id}, Name: {item.title}</div>
                )
            })}             
        </div>
    )
}
const container = document.getElementById("root");
const root = ReactDOM.createRoot(container);
root.render(<App />);
</script>
<!-- 
JS_END 
-->